name: CI
on:
  push:
    branches-ignore:
      - master
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: test
        uses: lokkju/github-action-sbt@v0.2.2
        with:
          commands: + test