name: CI/CD
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: sbt test
        uses: lokkju/github-action-sbt@v0.2.2
        with:
          commands: + test
      - name: sbt package
        uses: lokkju/github-action-sbt@v0.2.2
        with:
          commands: + package
      - name: copy and rename package for python tests
        run: |
          cp target/scala-2.11/*.jar python/mse.jar
      - name: set up python3
        uses: actions/setup-python@v1
        with:
          python-version: '3.6'
      - name: install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyspark
      - name: run python tests
        run: |
          cd python
          sh run-tests.sh
  deploy:
    if: contains(github.ref, 'master')
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: olafurpg/setup-scala@v2
      - uses: olafurpg/setup-gpg@v2
      - name: publish to sonatype
        run: csbt ci-release
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}